<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.running.model.dao.RouteDao">
	<resultMap type="Route" id="routeMap">
		<result column="routeid" property="routeId" />
		<result column="route_title" property="routeTitle" />
		<result column="register" property="register" />
		<result column="depart_lat" property="departLat" />
		<result column="depart_lng" property="departLng" />
		<result column="arrive_lat" property="arriveLat" />
		<result column="arrive_lng" property="arriveLng" />
		<result column="distance" property="distance" />
		<result column="time" property="time" />
		<result column="like_cnt" property="likeCnt"/>
		<result column="reg_date" property="regDate"/>
	</resultMap>
	
	<!-- 경로 삽입 -->
	<insert id="insertRoute" parameterType="Route">
		INSERT 
		INTO route 
		VALUES (
		0, #{routeTitle}, #{register}, #{departLat}, #{departLng}, #{arriveLat}, 
		#{arriveLng}, #{distance}, #{time}, #{likeCnt}, now())
	</insert>
	
	<!-- 경로 업데이트, 좋아요 수 증가 -->
	<update id="updateRoute" parameterType="Route">
		UPDATE route
		SET like_cnt = #{likeCnt}
		WHERE routeid = #{routeId} 
	</update>	
	
	<!-- 경로를 삭제 -->
	<delete id="deleteRoute" parameterType="int">
		DELETE 
		FROM route 
		WHERE routeid = #{routeId}
	</delete>
	
	<!-- 하나의 경로를 조회 -->
	<select id="selectRouteOne" parameterType="int" resultMap="routeMap">
		SELECT routeid, route_title, register, depart_lat, depart_lng, arrive_lat, arrive_lng,
		distance, time, like_cnt, date_format(reg_date, '%Y-%m-%d') as reg_date
		FROM route
		WHERE routeid = #{routeId}
	</select>
	
	<select id="selectAvatarByRegister" parameterType="string" resultType="string">
		SELECT avatar
		FROM user
		WHERE userid = #{register};
	</select>
	
	<!-- 전체 경로 조회 -->
	<select id="selectRouteList" resultMap="routeMap">
		SELECT * FROM route
	</select>
	
	<!-- 인기 순 경로 조회 -->
	<select id="selectRouteListByLikeCnt" resultMap="routeMap">
		SELECT * FROM route
		ORDER BY like_cnt DESC
		LIMIT 3;
	</select>
</mapper>
