<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.running.model.dao.RouteReviewDao">
	<resultMap type="RouteReview" id="routeReviewMap">
		<result column="reviewid" property="reviewId" />
		<result column="routeid" property="routeId" />
		<result column="review_writer" property="reviewWriter" />
		<result column="review_content" property="reviewContent" />
		<result column="review_comment" property="reviewComment" />
		<result column="review_like_cnt" property="reviewLikeCnt" />
		<result column="review_reg_date" property="reviewRegDate" />
	</resultMap>
	
	<!-- 리뷰 쓰기 -->
	<insert id="insertRouteReview" parameterType="RouteReview">
		INSERT 
		INTO route_review 
		VALUES (
		0, #{routeId}, #{reviewWriter}, #{reviewContent}, #{reviewComment}, #{reviewLikeCnt}, now())
	</insert>
	
	<!-- 리뷰 업데이트, 좋아요 수 증가 -->
	<update id="updateRouteReview" parameterType="RouteReview">
		UPDATE route_review
		SET review_like_cnt = #{reviewLikeCnt}
		WHERE reviewid = #{reviewId} 
	</update>	
	
	<!-- 리뷰를 삭제 -->
	<delete id="deleteRouteReview" parameterType="int">
		DELETE 
		FROM route_review 
		WHERE reviewid = #{reviewId}
	</delete>
	
	<!-- 하나의 리뷰를 조회 -->
	<select id="selectRouteReviewOne" parameterType="int" resultMap="routeReviewMap">
		SELECT reviewid, routeid, review_writer, review_content, review_comment, review_like_cnt, date_format(review_reg_date, '%Y-%m-%d') as review_reg_date
		FROM route_review
		WHERE reviewid = #{reviewId}
	</select>
	
	<!-- 전체 글 조회 -->
	<select id="selectRouteReviewList" resultMap="routeReviewMap">
		SELECT * FROM route_review
	</select>
</mapper>
